@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
}

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #333;
    padding: 0 2vh;
    width: 100%;
    margin-top: 0.5vh;
}

header .logo {
    height: 8vh;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 2vh;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 2vh;
}

header nav ul li a:hover {
    color: red;
    transition: color 0.3s ease-in-out; /* Suaviza a transição */
}

h1 {
    margin-bottom: 2vh;
    font-size: 4vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.01vh;
    margin-top: 1vh;
    text-align: center;
}

#game {
    width: 64%;
    height: 62vh;
    margin-top: 2vh;
    margin-left: 18%;
    margin-right: 18%;
    border: 0.5vh solid #003969;
}
#top {
    width: 100%;
  margin-top:-0.5vh;
}

@media (max-width: 768px) { 
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        background-color: #333;
        padding: 0 1vh;
        width: 100%;
        margin-top: 0.5vh;
    }
    
    header nav ul li a {
        color: white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vh;
        margin-right: 1vh;
        margin-left: 1vh;
        margin-top: 2vh;
    }

    header .logo {
    height: 4vh;
    }
    h1 {
        margin-bottom: 8vh;
        font-size: 2vh;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 0.01vh;
        text-align: center;
        margin-top: 2.5vh;
    }
#game {
    width: 96%;
    height: 50vh;
    margin-top: 3vh;
    margin-left: 2%;
    margin-right: 2%;
    border: 0.5vh solid #003969;
}
    
}
