@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}
body, html {
                height: 100%;
                background-color: black;
                color: white;
            }

            body {
                margin: 0;
                overflow: hidden;
            }

            body, #box, #top {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            #box {
                color: #aaa;
                height: 20em;
                width: 30em;
                max-width: 80%;
                max-height: 80%;
                background-color: #333;
                border-radius: 0.4em;
                border: 2px solid #555;
                position: relative;
                flex-direction: column;
                transition-duration: 0.2s;
                overflow: hidden;
                font-family: monospace;
                font-weight: bold;
                font-size: 20px;
                margin: 5px;
            }

            #box:hover, #box[drag] {
                border-color: #38f;
                color: #ddd
            }

            #input {
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0
            }

            #display {
                width: 100%;
                height: 100%
            }

            select, button {
                padding: 0.6em 0.4em;
                margin: 0.5em;
                width: 15em;
                max-width: 100%;
                font-family: monospace;
                font-weight: bold;
                font-size: 16px;
                background-color: #444;
                color: #aaa;
                border-radius: 0.4em;
                border: 1px solid #555;
                cursor: pointer;
                transition-duration: 0.2s
            }

            select:hover, button:hover {
                background-color: #666;
                color: #ddd
            }

            .logo {
                width: 130px;
                height: 130px;
                filter: drop-shadow(0 0 10px white);
            }

            #top {
                margin: 5px;
            }
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #333;
    padding: 0 20px;
}

header .logo {
    height: 80%;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
header nav ul li a:hover {
    color: red;
    transition: color 0.3s ease-in-out; /* Suaviza a transição */
}

/* Corpo */
main {
    text-align: center;
    padding: 10px;
}

main h1 {
    margin-bottom: 15vh;
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Deixa a fonte mais marcante */
    letter-spacing: 1px; /* Aumenta um pouco o espaçamento entre letras para dar um visual mais clean */
    
}

/* Carrossel */
.carousel-container {
    position: relative;
    width: 700px; /* O carrossel ocupará 100% da largura da tela */
    max-width: 700px; /* Limite para que o carrossel ocupe no máximo 50% da tela */
    margin: 0 auto;
    overflow: hidden; /* Oculta as imagens que saem do contêiner */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease; /* Transição suave */
}

.carousel-item {
    text-align: center; /* Alinha as imagens e texto ao centro */
}

.carousel-item a {
    display: block; /* Faz o link ocupar toda a área da imagem */
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Herda a cor do texto */
}

.carousel img {
    width: 700px; /* Cada imagem ocupará toda a largura do carrossel */
    height: 316px; /* A altura é fixada em 35em */
    object-fit: cover; /* Assegura que a imagem cubra toda a área disponível */
    top: 1%;
    transition: transform 0.3s ease-in-out; /* Transição suave para efeitos de hover */
}
.carousel img:hover {
    transform: scale(1.05); /* Efeito de zoom na imagem ao passar o mouse */
}

.carousel-item p {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-size: 1.2rem; /* Tamanho do texto */
    color: white; /* Cor do texto */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* Botões de navegação */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1vh;
    cursor: pointer;
    z-index: 10;
    margin: 1vh;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}
